<main>
     <h1 style="text-align: center;">API de fotos</h1>
     <section class="galeria">
          <section class="cardFoto" *ngFor="let foto of fotos" (click)="openModal(foto)"> <!-- Realizando um loop pela lista de fotos da API, com a diretiva do Angular (*ngFor="let photo of photos") e um evento que chama a função openModal(), passando a foto clicada ((click)="openModal(photo)") -->
               <img [src]="foto.download_url" [alt]="foto.author"> <!-- Exibe a foto -->
               <p>{{ foto.author }}</p> <!-- Exibe o nome do autor -->
          </section>
          <section class="modal" *ngIf="fotoSelecionada" (click)="closeModal()"> <!-- Modal só irá aparecer se selectedPhoto não for nulo (*ngIf="selectedPhoto") e ao clicar fora, o modal é fechado (closeModal()) -->
               <section class="conteudoModal" (click)="$event.stopPropagation()"> <!-- Aqui, impede que o clique dentro do modal, feche o próprio modal (stopPropagation()) -->
                    <img [src]="fotoSelecionada.download_url" [alt]="fotoSelecionada.author">
                    <p>Autor: {{ fotoSelecionada.author }}</p>
                    <button (click)="closeModal()">Fechar</button>
               </section>
          </section>
     </section>
</main>